<span id="credits" data-toggle="modal" data-target="#creditsModal">
    <i class="material-icons" style="font-size: 25px; margin: 0; vertical-align: middle;">copyright</i> Credits
</span>

<div class="modal fade" id="creditsModal" tabindex="-1" aria-labelledby="creditsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <i class="material-icons" >code</i>
                <span>Developped by  <span style="font-weight: bold;">Matisse Babonneau </span></span>
                <br>
                <i class="material-icons" >edit</i>
                <span>Drawn by <span style="font-weight: bold;">Everest Pipkin</span> & <span style="font-weight: bold;">Loren Schmidt</span>  </span> 
            </div>
        </div>
    </div>
</div>
